/* Navbar */
nav {
  font-family: var(--mono);
  font-size: 80%;
  padding: 4rem 1rem;
}

nav li a {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav h1 a {
  font-family: var(--sans);
}

nav h1 .icon {
  font-size: 2.2rem;
  margin-right: 0.25rem;
}

nav ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

nav a {
  text-decoration: none;
  color: var(--white);
  display: block;
}

nav a:hover,
nav [class*='icon']:hover {
  color: var(--light);
}

nav [class*='icon'] {
  color: var(--secondary);
  font-size: 160%;
}

nav li:first-child {
  flex-basis: 100%;
  text-align: center;
}

/* Media Queries */
@media (min-width: 850px) {
  nav {
    max-width: 1200px;
    margin: 0 auto;
  }

  nav li:first-child {
    flex-basis: auto;
    text-align: left;
    margin-right: auto;
  }
}
